    <nav>
      <a href="/history">Overview</a>
      <a href="/history/payments">Payments</a>
      <a href="/history/withdrawals">Withdrawals</a>
      <a href="/history/deposits">Deposits</a>
    </nav>