<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  	<li <% if (content.view == "index") {%>class="active"<% } %>><a href="/history">Overview</a></li>
    <li <% if (content.view == "payments") {%>class="active"<% } %>><a href="/history/payments">Payments</a></li>
    <li <% if (content.view == "withdrawals") {%>class="active"<% } %>><a href="/history/withdrawals">Withdrawals</a></li>
    <li <% if (content.view == "deposits") {%>class="active"<% } %>><a href="/history/deposits">Deposits</a></li>
  </ul>
</div>
<% if (content.view == 'payments') { %>
  <%- include payments.ejs %>
<% } else if (content.view == 'withdrawals') { %>
  <%- include withdrawals.ejs %>
<% } else if (content.view == 'deposits') { %>
  <%- include deposits.ejs %>
<% } else { %>
  OVERVIEW 
<% } %> 
