<ul class="nav nav-sidebar mobile">
	<li <% if (content.view == "index") {%>class="active"<% } %>><a href="/history">Overview</a></li>
  <li <% if (content.view == "payments") {%>class="active"<% } %>><a href="/history/payments">Payments</a></li>
  <li <% if (content.view == "withdrawals") {%>class="active"<% } %>><a href="/history/withdrawals">Withdrawals</a></li>
  <li <% if (content.view == "deposits") {%>class="active"<% } %>><a href="/history/deposits">Deposits</a></li>
</ul>