<h1>Withdrawal History</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>With</th>
        <th>Status</th>
        <th>Gross</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Feb 17, 2014</td>
        <td>Withdraw</td>
        <td>Bitcoin</td>
        <td>Complete</td>
        <td>1.5 BTC</td>
      </tr>
    </tbody>
  </table>
</div>
