<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>The belief in <%= title %></p>
    <a href="/auth/logout">Logout</a>
    <br>
    <h2>Current Balance: <%= balance %>BTC</h2>
  </body>
</html>