<li>
	<a href="#">
		<div id="noti_Container">
	    <span id="notification_icon" class="glyphicon glyphicon-bell"></span>
	    <div class="noti_bubble">0</div>
		</div>	
	</a>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Currency<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Fiat</li>
    <li><a id="US-select"><img src="/assets/flags/us.png" height = "30" width= "30"></i>USD</a></li>
    <li><a id="CA-select"><img src="/assets/flags/ca.png" height = "30" width= "30"></i>CAD</a></li>
    <li><a id="EU-select"><img src="/assets/flags/eu.png" height = "30" width= "30"></i>Euro</a></li>
    <li><a id="UK-select"><img src="/assets/flags/uk.png" height = "30" width= "30"></i>Pounds</a></li>
    <li><a id="AU-select"><img src="/assets/flags/au.png" height = "30" width= "30"></i>AUD</a></li>
    <li><a id="MX-select"><img src="/assets/flags/mx.png" height = "30" width= "30"></i>MX Peso</a></li>
    <li><a id="BR-select"><img src="/assets/flags/br.png" height = "30" width= "30"></i>Real</a></li>
    <li><a id="AR-select"><img src="/assets/flags/ar.png" height = "30" width= "30"></i>Peso</a></li>
    <li><a id="JP-select"><img src="/assets/flags/jp.png" height = "30" width= "30"></i>Yen</a></li>
    <li><a id="CH-select"><img src="/assets/flags/cn.png" height = "30" width= "30"></i>Yuan</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">BTC Denominations</li>
    <li><a id="BTC-select"><img src="/assets/flats/money-bag.png" height = "30" width= "30"></img>BTC </a></li>
    <li><a id="SATOSHI-select"><img src="/assets/flags/coin-stack-1.png" height = "30" width= "30"></img>Satoshis</a></li>
  </ul>
</li>
<li><a id="accounts_link" href="/accounts/user"><%- name %></a></li>
<li><a href="/transfer">Transfer</a></li>
<li><a href="/logout">Logout</a></li>
