<li>
	<a href="#">
		<div id="noti_Container">
	    <span id="notification_icon" class="glyphicon glyphicon-bell"></span>
	    <div class="noti_bubble">0</div>
		</div>	
	</a>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Currency<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Fiat</li>
    <li><a id="USD-select">USD</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">BTC Denominations</li>
    <li><a id="BTC-select">bitcoins </a></li>
    <li><a id="SATOSHI-select">satoshis</a></li>
  </ul>
</li>
<li><a id="accounts_link" href="/accounts/user"><%- name %></a></li>
<li><a href="/transfer">Transfer</a></li>
<li><a href="/logout">Logout</a></li>
