<li>
	<a href="#" class="dropdown-toggle nav-element" data-toggle="dropdown">
		<div id="noti_Container">
	    <span id="noti_icon" class="glyphicon glyphicon-bell"></span>
	    <div id="noti_bubble" class="noti_bubble"></div>
		</div>	
	</a>
    <ul id="notis" class="dropdown-menu dropdown-notifications">
    </ul>
</li>
<li class="dropdown nav-element">
  <a href="#" class="dropdown-toggle nav-element" data-toggle="dropdown">Currency<b class="nav-element caret"></b></a>
  <ul class="dropdown-menu">
    <li class="dropdown-header">BTC</li>
    <li><a id="BTC-select"><img src="/assets/flags/money-bag.png" height = "30" width= "30"></img>BTC </a></li>
    <li><a id="SATOSHI-select"><img src="/assets/flags/coin-stack-1.png" height = "30" width= "30"></img>Satoshis</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">Fiat</li>
    <li><a id="USD-select"><img src="/assets/flags/us.png" height = "30" width= "30"></i>USD</a></li>
    <li><a id="EU-select"><img src="/assets/flags/eu.png" height = "30" width= "30"></i>Euro</a></li>
    <li><a id="UK-select"><img src="/assets/flags/uk.png" height = "30" width= "30"></i>GBP</a></li>
    <li><a id="JP-select"><img src="/assets/flags/jp.png" height = "30" width= "30"></i>Yen</a></li>
    <li><a id="CH-select"><img src="/assets/flags/cn.png" height = "30" width= "30"></i>Yuan</a></li>
  </ul>
</li>
<li class="nav-element"><a class="nav-element" id="accounts_link" href="/accounts/user"><%- name %></a></li>
<li class="nav-element"><a class="nav-element" href="/transfer">Transfer</a></li>
<li class="nav-element"><a class="nav-element" href="/logout">Logout</a></li>
