<nav>
  <a href="/logout">Logout</a>
  <a <% if (content.base == 'transfer') { %> class="selected"<% } %> href="/transfer">Transfer</a>
  <a <% if (content.base == 'history') { %> class="selected"<% } %> href="/history">History</a>
</nav>