<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li <% if (content.base == "transfer") {%>class="active"<% } %>><a href="/transfer">Transfer</a></li>
    <li <% if (content.base == "history") {%>class="active"<% } %>><a href="/history">History</a></li>
    <li <% if (content.base == "support") {%>class="active"<% } %>><a href="/support">Support</a></li>
  </ul>
</div>