<div class="container-fluid">
<div class="row">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  	<li <% if (view == "user") {%>class="active"<% } %>><a href="/accounts/user">General Information</a></li>
    <li <% if (view == "identity") {%>class="active"<% } %>><a href="/accounts/identity">Verify Identity</a></li>
    <li <% if (view == "2FA") {%>class="active"<% } %>><a href="/accounts/security">2FA</a></li>
  </ul>
</div>
<% if (view == 'user') { %>
  <div class="container-user container">
    <% if (success === false) { %>  
      <div class="alert alert-danger"><strong>We are sorry!</strong>  There was a problem updating your information!</div>
    <% } else if (success === true) { %>  
      <div class="alert alert-success"><strong>Success!</strong>  Information Updated!</div>
    <% } %>  
    <form class="form-signin" role="form" action="#" method="post">
        <h2>User Configuration</h2>
        <input id="inputDisplayName" type="text"  name="displayname" class="user-form form-control" placeholder="<%= name%>">
        <div class="switch-toggle switch-candy" style="max-width: 20em;float:none;margin:0 auto">
            <input id="fbPost_enabled" name="post[op]" type="radio" value="true" checked="true">
            <label for="fbPost_enabled" onclick="">Enabled</label>        
            <input id="fbPost_disabled" name="post[op]" type="radio" value="false">
            <label for="fbPost_disabled" onclick="">Disabled</label>
          <a></a>
        </div>
        <br>
        <div class="form-submit">
          <button id="save-button" class="user-btn btn btn-lg" type="submit"> Save</button>
          <button id="reset-button" class="user-btn btn btn-lg" type="submit"> Reset</button>
        </div>
    </form>
  </div>
  <script>
    //Global data
    $(document).ready(function(){
        //$('#save-button').on('click', function(){
        //});
        $("#reset-button").click(function(e){
            e.preventDefault();
            if (window.user != undefined){
               $('#displayname').val(window.user['displayname']);
            }
            $("#reset-button").blur();
        });
        $.ajax({
            url: '/api/userInfo',
            complete: function(info){
                if (info.status != 200){
                    console.log("Got non-200 ", info.status);
                   //Do nothing
                }
                else{
                    info = info.responseJSON;
                    window.user = info;
                    $('#displayname').val(info['displayname']);
                }
            }
        });
    });
  </script>
<% } else if (view == '2FA') { %>
  <h2> Two Factor Authentication Coming Soon! </h2>
<% } else if (view == 'security') { %>
  <h2>Two-Factor Authentication Coming Soon! </h2>
<% } else if (view == 'identity') { %>
  <h2>Identity Verification Coming Soon! </h2>
<% } %> 
</div>
</div>
</div>
