<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Instant</h2>
      <p>Sending money has never been faster. We can do this because of Bitcoin, a currency that was designed to be sent on the Internet. By choosing BitBox, you choose speed!</p>
      <!--p><a class="btn btn-default" href="#" role="button">View details »</a></p-->
    </div>
    <div class="col-md-4">
      <h2>Simple</h2>
      <p>Sending money has never been simpler. We can do this because of Facebook, a platform designed to connect people on the Internet. By choosing BitBox, you choose simplicity!</p>
      <!--p><a class="btn btn-default" href="#" role="button">View details »</a></p-->
   </div>
    <div class="col-md-4">
      <h2>Free</h2>
      <p>Sending money has never been more affordable. We can do this because of Bitcoin, an online currency that costs much less to send than Dollars. By choosing BitBox, you choose affordability!</p>
      <!--p><a class="btn btn-default" href="#" role="button">View details »</a></p-->
    </div>
  </div>

  <hr>
  <footer>
    <p>© BitBox 2014</p>
  </footer>
</div>