    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/girl_computer.png">
          <div class="container">
            <div class="carousel-caption">
              <h1>Easy</h1>
              <p>Just log in with your Facebook account.\n We take care of the rest of the setup.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/friends_cafe_istock.png">
          <div class="container">
            <div class="carousel-caption">
              <h1>Social</h1>
              <p>Your account is seamlessly tied to your Facebook profile.\n Send bitcoins to friends is as easy as sending a message.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/speed-of-light.png">
          <div class="container">
            <div class="carousel-caption">
              <h1>Fast</h1>
              <p>Sending bitcoins to Friends is instant.\n Transfering to an outside wallet takes hours, not days.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img  height="140" width="140" class = "img-circle" src="assets/Bitcoin.png">
          <h2>Educational</h2>
          <p>Through Bitbox we strive to eliminate the steep learning curve associated with bitcoin.</p>
          <p><a class="btn btn-default" href="https://en.bitcoin.it/wiki/Introduction" target="_blank" role="button">Introduction to bitcoin &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img height="140" width="140" class = "img-circle" src="assets/BC_wallet_128c.png">
          <h2>Practical</h2>
          <p>We provide an entrance ramp to using bitcoin.  Sending bitcoins to friends is only the tip of the iceburg!</p>
          <p><a class="btn btn-default" href="https://spendbitcoins.com/places/" target="_blank" role="button">What can bitcoin do? &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img height="140" width="140" class = "img-circle" src="assets/we_love_bitcoin.png">
          <h2>Motivation</h2>
          <p>Bitcoin is an incredibly cool technology. We want to expose people to the bitcoin protocols through familiar channels such as social media.</p>
          <p><a class="btn btn-default" href="/liftoff/login/facebook" target="_blank" role="button">Try BitBox Now! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Bitcoin<span class="text-muted"> It's not that complicated!</span></h2>
          <p class="lead">While the concept of the bitcoin protocol may seem complicated at first. We attempt to use concepts already familiar to the user to abstract away some of the complications. For example, sending money to a Facebook Profile makes more sense than sending it to an abstract address (Send bitcoins to John Doe rather than 1Mx4pZQ4waZdzW6RqYJvUGapWNXh1cTjh1).</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="assets/finance-calculator.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="assets/friends-nightclub.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Bitcoin, It's a party! <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Bitcoin has been all over the news recently. Don't understand how a small company could lose $500 million dollars? Don't understand how all transactions can be public, but at the same time bitcoin offers anonymity? Educate yourself about bitcoin today!</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Your money, under your control </h2>
          <p class="lead">Tired of dealing with the current financial institutions? Its your money, shouldn't you have control of it?</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="assets/hand-button.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Bitbox &middot;</p>
      </footer>

    </div><!-- /.container -->
    <!-- A Huge Thanks for all sources of our stock photos!
        http://www.nordicfactory.com/creative/illustrations/download-free-flag-set-in-png/
        http://www.joelandy.co.uk/
        https://bitcointalk.org/index.php?topic=1631.0
        Gregory Szarkiewicz [freedigitalphotos.net]
        photostock [freedigitalphotos.net]
        tungphoto [freedigitalphotos.net]
        http://www.stockvault.net/photo/151004/speed-of-light
    -->
