<script >
    function selectText(containerid) {
      console.log("called");
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
        }
    }
</script>
<div style="inlne-block; float: left; padding-right: 0px; padding-bottom: 10px; margin-right: 10px;">
  <img style="border: 1px solid black; src="http://chart.apis.google.com/chart?cht=qr&chld=Q%7C2&chs=200&chl=<%=address%>" />
</div>
<div class="withdraw-instructions" style="inlne-block; float: left; padding-right: 0px; padding-bottom: 10px; margin-right: 10px">
  <label for="">Instructions</label><br>
  <p style="text-align: justify;">The following Bitcoin address is tied to your account. Any Bitcoin you send to this address will be credited to your account after 6 network confimations.</p>
  <label>Address</label><br>
  <div id="btc_address" onclick="selectText('btc_address');"><%= address %></div>
</div>
