  <ul class="nav nav-sidebar mobile">
    <li <% if (content.view == "pay") {%>class="active"<% } %>><a href="/transfer/pay#action">Pay</a></li>
    <li <% if (content.view == "track") {%>class="active"<% } %>><a href="/transfer/track#action">Track</a></li>
    <li <% if (content.view == "deposit") {%>class="active"<% } %>><a href="/transfer/deposit#action">Deposit</a></li>
    <li <% if (content.view == "withdraw") {%>class="active"<% } %>><a href="/transfer/withdraw#action">Withdraw</a></li>
  </ul>
  <hr id="action" class="mobile" style="padding-top: 50px;">