<% if (success === false) { %>  
  <div class="alert alert-danger"><strong>We are sorry!</strong>  Your request could not be completed please try again later</div>
<% } else if (success === true) { %>  
  <div class="alert alert-success"><strong>Success!</strong>  Your request completed!</div>
<% } %>  
<form name="pay" id="form-pay" method="post" action="/transfer/pay" onkeypress="return event.keyCode != 13;">
  <br>
  <div class="switch-toggle switch-candy" style="max-width: 20em;">      
    <input id="op_ask" name="pay[op]" type="radio" value="ask" checked="true">
    <label for="op_ask" onclick="">Ask</label>

    <input id="op_send" name="pay[op]" type="radio" value="send">
    <label for="op_send" onclick="">Send</label>  
    <a></a>
  </div>
  <br>
  <div style="inlne-block; float: left; padding-right: 0px; padding-bottom: 10px; margin-right: 10px;">
    <label for="fb-user">Who</label><br>
    <input type="text" id="fb-user" style="width: 20em; padding: 10px" autocomplete="off" placeholder="friend name" value="" />
    <input type="hidden" name="pay[nickname]" id="fb_name" value="" />
    <span class="input_option" id="fb_user_clear">&nbsp;</span>
  </div>
  <div style="inlne-block; float: left; padding-bottom: 10px; margin-right: 10px;">
    <label for="btc_amount">Amount</label><br>
    <input type="text" name="pay[amount]" id="btc_amount" style="width: 20em; padding: 10px" placeholder="Bits">
  </div>
  <div style="inlne-block; float: left; padding-bottom: 10px;">
    <label for="memo">Memo</label><br>
    <input type="text" name="pay[memo]" id="memo" style="width: 20em; padding: 10px" placeholder="memo">
  </div>
  <input type="hidden" name="pay[facebook_id]" id="friend_fbid" value="" />
  <div style="clear: both; margin: 0px height: 0px">&nbsp;</div>
  <p>
    <input type="submit" class="btn btn-lg btn-success" role="button" name="form-submit" value="Submit"></input>
  </p>
</form>
<script>
    $("#form-pay").submit(function(e){
        badFlag = false;
        enableInput('fb-user');
        enableInput('btc_amount');
        e.preventDefault();
        if( $("#fb_name").val() == ""){
            disableInput('fb-user');
            badFlag= true;
        }
        var displayAmount = $("#btc_amount").val();
        if (displayAmount == "" || isNaN(displayAmount)){
            disableInput('btc_amount');
            badFlag = true;
        }
        if (badFlag){
            return;
        }
        var form = this;
        var amount = currencyInput(displayAmount);
        var message ='';
        if($('#op_send').is(':checked')){
            message= 'Are you sure you want to send ' + displayAmount + ' '+ +currencyName()+' to '+ $('#fb_name').val() + '?';
        }
        else{
            message= 'Are you sure you want to request ' + displayAmount + ' ' +currencyName()+' from '+ $('#fb_name').val() + '?';
        }
        var dialog = BootstrapDialog.show({
            message: message,
            title: "Confirmation",
            buttons: [{
                label: 'Confirm',
                cssClass: 'btn btn-lg btn-success',
                action: function(){
                    dialog.close();
                    $("#btc_amount").val(amount);
                    form.submit();
                }
              },
              {
                label: 'Cancel',
                cssClass: 'btn btn-lg btn-danger',
                action: function(){
                    dialog.close();
                }
              }]
            
        });
    });
    var curName = currencyName();
    console.log("GOT CURRENCY AS ", curName);
    $("#btc_amount").attr("placeholder", curName);
</script>
<script>
var init = function() {
  $('#fb-user').facebookAutocomplete({
      showAvatars: true,
      onpick: function(friend) { 
        console.log(friend);
        document.getElementById("friend_fbid").value = friend.id;
        document.getElementById("fb-user").disabled = "disabled";
        document.getElementById("fb-user").value = friend.name;
        document.getElementById("fb_name").value = friend.name;
        document.getElementById("btc_amount").focus();
        document.getElementById("fb_user_clear").innerHTML = "Clear";
        /*
        FB.ui({
          method: 'send',
          display: 'iframe',
          to: friend.id,
          link: 'http://inbitbox.com',
        });*/

        $("#fb_user_clear").click(function() {
          document.getElementById("fb-user").value = "";
          document.getElementById("fb_name").value = "";
          document.getElementById("fb-user").disabled = "";
          document.getElementById("friend_fbid").value = friend.id;
          document.getElementById("fb_user_clear").innerHTML = "&nbsp;";
          window.location.reload();
        });
      }
  });
};
window.fbAsyncInit = function() {
  FB.init({
    appId: '<%- fb_app_id %>'
  });

  FB.Event.subscribe('auth.authResponseChange', function(response) {
    if (response.status === 'connected') {
      console.log('FOOD');
      init();

    } else {
      window.location.replace("/logout");
    }
  });
};


// Load the SDK asynchronously
(function(d){
 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement('script'); js.id = id; js.async = true;
 js.src = "//connect.facebook.net/en_US/all.js";
 ref.parentNode.insertBefore(js, ref);
}(document));
</script>


