<% if (success == 'null') { %>
  <form name="pay" method="post" action="/transfer/pay" onkeypress="return event.keyCode != 13;">
      <br>
      <div class="switch-toggle switch-candy" style="max-width: 20em;">
        <input id="op_send" name="tx[op]" type="radio" value="Pay" checked>
        <label for="op_send" onclick="">Pay</label>        

        <input id="op_ask" name="tx[op]" type="radio" value="Charge">
        <label for="op_ask" onclick="">Charge</label>
        <a></a>
      </div>
      <br>
      <div style="inlne-block; float: left; padding-right: 0px; padding-bottom: 10px; margin-right: 10px;">
        <label for="fb-user">Who</label><br>
        <input type="text" id="fb-user" style="width: 20em; padding: 10px" autocomplete="off" placeholder="friend name" value="" />
        <input type="hidden" name="tx[fb_name]" id="fb_name" value="" />
        <span class="input_option" id="fb_user_clear">&nbsp;</span>
      </div>
      <div style="inlne-block; float: left; padding-bottom: 10px; margin-right: 10px;">
        <label for="btc_amount">Amount</label><br>
        <input type="text" name="tx[bits]" id="btc_amount" style="width: 20em; padding: 10px" placeholder="bitcoins">
        <span class="input_option" id="yolo">Bits</span>
      </div>
      <div style="inlne-block; float: left; padding-bottom: 10px;">
        <label for="memo">Memo</label><br>
        <input type="text" name="tx[memo]" id="memo" style="width: 20em; padding: 10px" placeholder="memo">
      </div>
      <input type="hidden" name="tx[fbid]" id="friend_fbid" value="" />
      <div style="clear: both; margin: 0px height: 0px">&nbsp;</div>
      <p>
        <input type="submit" class="btn btn-lg btn-success" role="button" name="submit" value="Submit"></input>
      </p>
    </form>
<% } else if(success == "false"){ %>  
  <div class="alert alert-danger"><strong>We are sorry!</strong>  Your request could not be completed please try again later</div>
<% } else if(success == "true"){ %>  
  <div class="alert alert-sucess"><strong>Success!</strong>  Your request completed!</div>
<% } %>  
