<!--NOOP-->
<form name="redeem" id="redeem-form" method="post" action="/transfer/redeem" onkeypress="return event.keyCode != 13;">
    <p>
      <input type="text" id="redeem-amount" name="redeem" style="width: 20em; padding: 10px" placeholder="Code">
    </p>
    <p>
      <button type="submit" id="redeem-submit" class="btn btn-success btn-lg" role="button" name="submit-button">Submit</input>
    </p>
