<form name="withdraw" id="withdraw-form" method="post" action="/transfer/withdraw" onkeypress="return event.keyCode != 13;">
  <div style="inlne-block; float: left; padding-right: 0px; padding-bottom: 10px; margin-right: 10px;">
    <label for="btc_amount">Amount</label><br>
    <input type="text" id="btc_amount" name="withdraw[amount]" style="width: 20em; padding: 10px" placeholder="bitcoins">
  </div>
  <div style="inlne-block; float: left; padding-bottom: 10px;">
    <label for="btc_address">Address</label><br>
    <input type="text" id="btc_address" name="withdraw[address]" style="width: 20em; padding: 10px" placeholder="bitcoin address">
    <span class="input_option" id="withdraw-view">View</span>
  </div>
  <div style="clear: both; margin: 0px; height: 0px">&nbsp;</div>
  <br>
  <p>
    <input id="withdraw-submit" disabled=true type="submit" class="btn btn-lg btn-success" role="button" name="submit-button" value="Submit"></input>
  </p>
</form>
<script>
    var validateAddress = function(addr){
        $.ajax({
            url: '/api/validateAddress?addr=' + addr, 
            type: 'get',
            success: function(response, textStatus, jqXHR){
                if (response == "ok"){
                    console.log("ok")
                    $("#withdraw-submit").prop('disabled', false);
                }
                else{
                    console.log("not ok");
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log("err");
            }
        });
    }
    //$("#btc_address").on('change', function(e){
    //    $("#withdraw-submit").prop('disabled', true);
    //    validateAddress($("#btc_address").val());
    //});
    $("#btc_address").keypress(function(e){
        $("#withdraw-submit").prop('disabled', true);
        validateAddress($("#btc_address").val());
    });
    $("#withdraw-form").submit(function(e){
        e.preventDefault();
        var form = this;

        badFlag = false;
        enableInput('btc_amount');
        var displayAmount = $("#btc_amount").val();
        if (displayAmount == "" || isNaN(displayAmount)){
            disableInput('btc_amount');
            badFlag = true;
        }
        if (badFlag){
            return;
        }
        var form = this;
        var amount = currencyInput(displayAmount);
        var message= 'Are you sure you want to withdraw ' + displayAmount + ' ' +currencyName()+' to <b>'+ $('#btc_address').val() + '</b>?\n\n<b>NOTE</b>: Please <b>DOUBLE</b> check your wallet address followed by <b>TRIPLE</b> checking it. As is the nature of bitcoin once the withdrawal has been sent it is irreversable.\n\nWithdrawals are subject to a 12-24 hour holding period. If you make a mistake contact us <b>IMMEDIATELY</b> at <b>info@bit-box.org</b>';
        var dialog = BootstrapDialog.show({
            message: message,
            title: "Confirmation",
            buttons: [{
                label: 'Confirm',
                cssClass: 'btn btn-lg btn-success',
                action: function(){
                    dialog.close();
                    $("#btc_amount").val(amount);
                    form.submit();
                }
              },
              {
                label: 'Cancel',
                cssClass: 'btn-lg btn-cancel btn',
                action: function(){
                    dialog.close();
                }
              }]
            
        });
    });
    var curName = currencyName();
    $("#btc_amount").attr("placeholder", curName);
    $("#withdraw-view").on("click", function(e){
        e.preventDefault();
        var addr = $('#btc_address').val();
        var url = "https://blockchain.info/address/" + addr;
        window.open(url);
    });
</script>
